#NewParameter {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 2px double black;
}

#DeleteButton {
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.button {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

#Content {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 2px double black;
}

.parameterID {
    margin-bottom: 10px;
    font-size: 13px;
}

.parameterName {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.parameterDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.parameterSettings {
    margin-bottom: 10px;
    font-size: 16px;
}