table
{
  padding: 10px;
  font-family:arial, monospace;
  width: 100%;
  margin: 0 auto;

  border-collapse: separate;
  border-spacing: 0;  border: 0;
  text-shadow: 0 1px 0 #fff;
  margin-top:20px;
  margin-bottom:20px;
}
 
td
{
  font-family:arial, monospace;
  height: 50px;
  padding: 0 20px;
  border-bottom: 0px;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

input[type=text] , select
{
  font-family:arial, monospace;
  padding: 0 20px;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  text-align: center;
  vertical-align: middle;
}

a:link{
  font-family:arial, monospace;
  text-decoration: none;
  color: teal;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color:black;
  text-decoration: none;
}